
nav a{
    text-align: center;
    color: #113856;
    text-decoration: none;
    padding: 35px;
}
nav{
    display: flex;
    justify-content: space-around;
}
body{
    background-color:#EAEFBD ;
    /* font-size: 22px;
    margin: 0;
    padding: 0; */
}
nav a:hover{
    background-color:#EF8A17 ;
}
header{
    background-color:#21897E ;
    font-family: Verdana, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 80px;
}
