#content{
    margin: 0 auto;
    max-width: 1600px;
    background-color: #E8EDDF;
}
.header{
    width: 100%;
    height: 100px;
    background-color: #3C444C;
}
.logo {
    width: 80px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border: #E8EDDF solid 3px;
}
.header a {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
    height: 80px;
    line-height: 100px;
    text-decoration: none;
    font-size: 25px;
    color: #E8EDDF;
}
nav a:hover{
    color: #E47A3C;
}
#top_img{
    width: 100%;
}
.heading{
    font-size: 50px;
    text-align: center;
}
#game_night{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: #3C444C solid;
    box-shadow: 5px 5px 10px #343434;
}
#intro{
    text-align: center;
    font-size: 30px;
}
#intro p{
    margin-left: 200px;
    margin-right: 200px;
}
#home_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 30px;
    margin: 80px auto;
}
#home_grid a{
    border-radius: 30px;
    background: #E47A3C;
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #3C444C;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    color: #E8EDDF;
}
#footer_left{
    grid-column: 1/2;
    margin-left: 10px;
}
#footer_right{
    grid-column: 2/4;
}
footer a{
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: #E47A3C;
    text-decoration: none;
    margin: 10px 1px;
    padding: 5px;
    color: #E8EDDF;
}

footer a:hover{
    color: #E47A3C;
}
#top2_img{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border: #343434 solid 4px;
}
#top2 a{
    position: relative;
    top: -15px;
    left: 0px;
    margin-bottom: -15px;
    color:#3C444C;
    opacity: .8;
    text-decoration: none;
    font-size: 10px;
}
#compass{
    width: 30%;
}
#mine{
    width: 30%;
}
#peak{
    width: 30%;
}
#dice{
    width: 40%;
}
#page2_main{
    text-align: center;
    font-size: 20px;
}
#page2_main p{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#page2_main h3{
    margin-top: 40px;
}
#character2{
    border:  2px solid #E47A3C;
    padding: 30px;
    text-decoration: none;
    color: crimson;
    margin-left: 80px;
    width: 20%;
    position: relative;
    bottom: 110px;
    background-color: #343434;
}
#character1{
    text-decoration: none;
}
#character1 img{
    border: #3C444C solid 2px;
}
#rulebook{
    border: 2px solid black;
    text-decoration: none;
    color: #E47A3C;
    background-color: #9A031E;
    padding: 25px;
    display: block;
    width: 20%;
    margin: 0 auto;
    font-size: 22px;
    color: #3C444C;
    color: #E47A3C;
    color: #E8EDDF;
}
#add1, #add2{
    color: #9A031E;
}
